In [10]:
import pandas as pd
import gmaps
import requests

# Import API Key
from config import g_key

In [11]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tuatapere,NZ,2022-09-30 18:21:47,-46.1333,167.6833,33.08,91,12,4.23
1,1,Pangnirtung,CA,2022-09-30 18:21:47,66.1451,-65.7125,36.84,49,100,3.40
2,2,Hithadhoo,MV,2022-09-30 18:21:48,-0.6000,73.0833,81.79,72,83,8.86
3,3,Saint-Philippe,RE,2022-09-30 18:21:48,-21.3585,55.7679,67.59,83,39,10.98
4,4,Punta Arenas,CL,2022-09-30 18:21:48,-53.1500,-70.9167,50.11,43,0,35.68

In [12]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [13]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key = g_key)

In [20]:
# Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[['Lat', 'Lng']]

# get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = [max(temp, 0) for temp in max_temp]
    
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps ,dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[['Lat', 'Lng']]

# get the maximum temperature
humidity = city_data_df['Humidity']
    
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity ,dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[['Lat', 'Lng']]

# get the maximum temperature
cloudiness = city_data_df['Cloudiness']
    
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness ,dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[['Lat', 'Lng']]

# get the maximum temperature
wind = city_data_df['Wind Speed']
    
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind ,dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
preferred_cities = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) &
                                   (city_data_df['Max Temp'] <= max_temp)]
preferred_cities.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Hithadhoo,MV,2022-09-30 18:21:48,-0.6000,73.0833,81.79,72,83,8.86
10,10,Kathu,TH,2022-09-30 18:21:52,7.9178,98.3332,82.74,85,93,18.01
19,19,Mineiros,BR,2022-09-30 18:21:55,-17.5694,-52.5511,83.79,41,33,7.11
27,27,Atuona,PF,2022-09-30 18:21:59,-9.8000,-139.0333,76.71,69,51,17.90
28,28,Lamar,US,2022-09-30 18:19:47,33.6668,-95.5836,80.98,29,0,9.22

In [27]:
preferred_cities.count()

City_ID       182
City          182
Country       182
Date          182
Lat           182
Lng           182
Max Temp      182
Humidity      182
Cloudiness    182
Wind Speed    182
dtype: int64

In [28]:
hotel_df = preferred_cities[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
2   Hithadhoo      MV     81.79  -0.6000   73.0833
10      Kathu      TH     82.74   7.9178   98.3332
19   Mineiros      BR     83.79 -17.5694  -52.5511
27     Atuona      PF     76.71  -9.8000 -139.0333
28      Lamar      US     80.98  33.6668  -95.5836
33   Bengkulu      ID     75.74  -3.8004  102.2655
36       Hilo      US     81.28  19.7297 -155.0900
37     Tibiri      NE     84.54  13.5627    7.0485
38      Kapaa      US     80.58  22.0752 -159.3190
43    Ternate      ID     80.37   0.8000  127.4000

In [30]:
url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get latitude and Longitude
    lat = row["Lat"]
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found ... skipping.")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Hithadhoo,MV,81.79,-0.6000,73.0833,Scoop Guest House
10,Kathu,TH,82.74,7.9178,98.3332,Novotel Phuket Resort
19,Mineiros,BR,83.79,-17.5694,-52.5511,Pilões Palace Hotel
27,Atuona,PF,76.71,-9.8000,-139.0333,Villa Enata
28,Lamar,US,80.98,33.6668,-95.5836,Kings Inn Paris TX
33,Bengkulu,ID,75.74,-3.8004,102.2655,Grage Hotel Bengkulu
36,Hilo,US,81.28,19.7297,-155.0900,Hilo Hawaiian Hotel
37,Tibiri,NE,84.54,13.5627,7.0485,FADA GAO FA TIBIRI
38,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
43,Ternate,ID,80.37,0.8000,127.4000,Sahid Bela Ternate Hotel

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [37]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperatures for the vacation spots
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))